<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CAROLINA ALVARADO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
      </ion-title>
    </ion-toolbar>
  </ion-header>



  <div id="container">
    <ion-img src="../home/fot1.png" style="width: 100%; height: auto;"></ion-img>

    <strong>Soy estudiante de la Escuela Politécnica
      Nacional de la carrera en Tecnología de
      desarrollo de software, me gusta aprender
      cosas nuevas para adquirir mejores habilidades
      y destrezas. Actualmente me encuentro en un
      curso sobre programación en Python, me gusta
      dialogar con las personas y hacer nuevas
      amistades dentro y fuera del ámbito laboral y
      trabajar en equipo. aspiro aprender cosas
      nuevas sobre desarrollo de software que me
      permitan crecer profesionalmente.</strong>

      <strong>Soporte Tecnico
        Inspeccionar equipos para ajustar o
        corregir problemas de
        funcionamiento.
        Brindar apoyo al personal técnico
        comercial.
        Probar o analizar el rendimiento de
        componentes
        Asesorar al cliente sobre o realizar el
        mantenimiento del sistema de
        software.
        EPN, Quito.
        J.</strong>

  </div>
  
  
</ion-content>

